node_modules
npm-debug.log
.git
.gitignore
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
/.fleet
/.idea
/.vscode
storage/*.key
public/hot
public/storage
!.gitkeep

